<div class="ctasmall">
  <div class="ctasmall-container">
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5D8URU5GA8KDU" class="ctasmall-button" target="_blank"><i class="fa fa-money" aria-hidden="true"></i>  Donate</a>
    <a href="/volunteer.html" class="ctasmall-button"><i class="fa fa-users" aria-hidden="true"></i>  Volunteer</a>
    <a href="https://www.facebook.com/WallaceforLexington" class="ctasmall-button" target="_blank"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  Facebook</a>
  </div>
</div>
