<header role="banner">
	<div class="header-container">
		<div class="logo">
			<a href="/index.html">
				<img src="/assets/img/redmonlogotransparent.png" alt="logo" class="logoimg">
			</a>
	    <a href="#" id="mobile-menu-button"><i class='fa fa-2x fa-bars'></i></a>
		</div>
		<nav id="navbar">
			<ul id="nav-menu" class="nav-menu show">
				<li class="nav-link"><a href="/aboutaustin.html">about austin</a></li>
				<li class="nav-link"><a href="/vision.html">vision</a></li>
				<li class="nav-link"><a href="/volunteer.html">volunteer</a></li>
				<li class="nav-link"><a href="https://secure.actblue.com/donate/austin-redmon-for-circuit-court-clerk-1?refcode=web" class="donate" target="_blank">contribute</a></li>
			</ul>
		</nav>
	</div>
		<script type="text/javascript" src="/assets/js/navbarToggle.js"></script>
		<script>
			$(document).ready(function(){
				$(window).scroll(function(){
					if(window.innerWidth > 1067){
						if ($(this).scrollTop() >= 98){
							$('header').addClass('sticky');
							$('#navbar').css("margin-top", "18.75px")
						}
						else {
							$('header').removeClass('sticky');
							$('#navbar').css("margin-top", "37.5px")
						}
					}
				});
			});
		</script>
</header>
